body:not(.full-width)
    .block-chapter
        figure
            max-width: none

.hero--with-image 
    .content 
        > h1, > hgroup
            margin-top: 0
    @include media-breakpoint-up(desktop)
        figure
            width: calc(#{col(4)} + #{$grid-gutter}) !important
            margin-right: -$grid-gutter
            picture
                position: relative
                overflow: hidden
                &::after
                    content: ''
                    position: absolute
                    height: 150%
                    width: 50%
                    background: $hero-background-color
                    bottom: 0
                    right: 100%
                    transform-origin: bottom left
                    transform: rotate(10deg)
            figcaption
                &::before
                    left: 0
                    right: auto !important
                p
                    text-align: left !important
                    padding-left: $spacing1 !important

.block-chapter
    @include in-page-with-sidebar
        &--alt_background
            background: $block-chapter-layout-alt-background
        &--accent_background
            background: $block-chapter-layout-accent-background
        &--alt_background
            .chapter .text
                padding-left: 0
                padding-right: 0

.toc 
    ol 
        .active
            color: $color-orange

.block-definitions
    details
        summary
            font-weight: bold

.block:not(.block-call_to_action) h2
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            @include h2

.toc-container
    @include in-page-with-sidebar
        .toc-title
            display: none
        .toc ol li:first-child
            margin-top: 0