RewriteEngine On

# = Pour rediriger vers HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# == Pour gérer la redirection de votre choix :
# - décommentez les 2 lignes vous correspondant (en supprimant le caractère "#" en début de ligne)
# - modifier "mon-domaine.fr" par votre domaine. Attention, dans la directive RewriteCond, utilisez un "\" avant un caractère spécial comme le "-"

# = Rediriger un domaine racine au www (mon-domain.fr => www.mon-domaine.fr)
RewriteCond %{HTTP_HOST} ^re\-akt\.ch [NC]
RewriteRule ^(.*)$ https://www.re-akt.ch/$1 [L,R=301]

# = Rediriger un www au domaine racine (www.mon-domain.fr => mon-domaine.fr)
RewriteCond %{HTTP_HOST} ^www.re\-akt\.ch [NC]
RewriteRule ^(.*)$ https://www.re-akt.ch/$1 [L,R=301]

# = Gérer les erreurs 404
ErrorDocument 404 /404.html